@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    font-family: 'Poppins', sans-serif;
    background:linear-gradient(27.5deg, #A7D129 50%, #616F39 50%);
}

header {
    height: 3.75rem;
    width: 100%;
    background: darkslategrey;
}

nav {
    width: 60vw;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
    justify-content: space-evenly;
    gap: 2rem;
    padding-left: 2.5rem;
}

nav>ul>li {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 3.75rem;
    text-align: center;
    color: white;
}

nav>ul>li>a {
    width: 100%;
    height: 100%;

}

#ct{
    color: white;
}



.graphbox {
    max-width: 97.5%;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-template-rows: repeat(4);
    grid-gap: 1rem;
    min-height: 12.5rem;
    padding-right: 2.25rem;
    
}

.box {

    border-radius: 0.3rem;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 2rem 5rem 0 rgba(0, 0, 0, 0.2);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.B-elek {
    grid-column: 1/2;
    grid-row: 1/2;

}

.H-water {
    grid-column: 2/3;
    grid-row: 1/2;
}

.M-elek {
    grid-column: 1/3;
    grid-row: 2/3;
}

.M-weer {
    grid-column: 3/4;
    grid-row: 1/2;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.B-calc{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.VMBO{
    grid-column: 3/5;
    display: flex;
    align-items: center;
    justify-content: center;
}



a{
    color: white;
    text-decoration-line:none ;
}

form{
    display: flex;
    flex-direction: column;
}

footer {
    width: 100%;
    height: 4rem;
    background: #222831;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dashboard {
    display: grid;
    grid-template-columns: 300px;
    position: relative;
    width: 100%;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1.875rem;
    min-height: 12.5rem;
    box-shadow: 0 0.4375rem 1.5625rem rgba(0, 0, 0, 0.08);


}

.item {

    padding: 20px;
    min-height: 300px;
    border-radius: 10px;
    border: 1px solid #4c8aff;
    width: 100%;
}

#weather {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 135%;
    border-color: white;
    border-style: none;
    
}

#live {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

select {
    display: block;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 16px;
}

#live h1,
#live h2,
#live p,
#live h3 {
    color: #333333;
    display: block;
    width: 100%;
}

#live h1 {
    margin: 0;

}

#live h2 {
    margin: 0;

}

#live h3 {
    margin: 0;

}

#data-M{
    text-align: start;
    width: 80%;
    display: flex;

    flex-direction: column;
}
