

* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;

}



.chart1 {
    width: 600px;
}

.active{
    font-size: 20px;
}

header {
    height    : 3.75rem;
    width     : 100%;
    background: darkslategrey;
}

nav {
    width : 60vw;
    height: 100%;
    margin: 0 auto;
}

nav>ul {
    list-style     : none;
    display        : flex;
    flex-direction : row;
    align-items    : center;
    height         : 100%;
    justify-content: space-evenly;
    gap            : 2rem;
    padding-left   : 2.5rem;
}

nav>ul>li {
    width : 100%;
    height: 100%;
}

nav>ul>li>a {
    width      : 100%;
    height     : 100%;
    display    : block;
    line-height: 3.75rem;
    text-align : center;
}

nav>ul>li>a:visited,
nav>ul>li>a:link {
    color          : white;
    text-decoration: none;
}

nav>ul>.active {
    background: limegreen;
}

.graphbox {
    position             : relative;
    width                : 100%;
    padding              : 1.25rem;
    display              : grid;
    grid-template-columns: 1fr 2fr;
    grid-gap             : 1.875rem;
    min-height           : 12.5rem;
}

.graphbox .box {
    position     : relative;
    background   : white;
    padding      : 1.25rem;
    width        : 100%;
    box-shadow   : 0 0.4375rem 1.5625rem rgba(0, 0, 0, 0.08);
    border-radius: 1.25rem;

}

footer {
    width      : 100%;
    height     : 4rem;
    background : #222831;
    color      : white;
    display    : flex;
    align-items: center;
}

footer>p {
    width       : 60vw;
    margin      : 0 auto;
    padding-left: 5rem;
}

